.POPOSList {
  /* width: calc(100% - 520px); width of element is 100% minues 80px */
  margin: auto; /* auto -the browser will make the margins equal on both sides - 40px on left and the rigt ~ equals to 80px total */
  display: grid; /* display spaces in a grid */
  grid-template-columns: 1fr 1fr 1fr; /* give grid three template columns ~ 1fr represents a fraction of the space available */
  /* grid-gap: 40px; set gap between columns to 40px */
  grid-gap: 2em;
  padding: 2em;
  max-width: 1200px;
}

/* media querie to make adjustments for smaller screens like tablets and mobile */
@media only screen and (max-width: 960px) {
  .POPOSList {
    /* the number of columns if changed to two equal columns when the screen is 960px or smaller */
    grid-template-columns: 1fr 1fr;
  }
}

/* small screen mobile */
@media only screen and (max-width: 700px) {
  .POPOSList {
    grid-template-columns: 1fr;
  }
}

.POPOSList form {
  display: flex;
  align-items: flex-start;
  position: relative;
  left: -20px;
  top: 120px;
}

.POPOSList form input, .POPOSList form button {
  padding: 0.5em;
  margin: 0;
  border: 1px solid;
  font-size: 1;
}

.POPOSList form input {
  flex: 2;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.POPOSList form button {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}