/* styles start to make page responsive */
.POPOSSpace {
  width: 100%; /* expands width of its grid cell - cells expand and contract with the window */
  text-align: center;
}

.POPOSSpace > img {
  width: 100%; /* sets width of img tage with div to 100% of available space */
  height: auto; /* makes images maintain their aspect ratio as they scale */
}

.hours {
  font-size: 15px;
  padding: 3px;
  color: rgb(73, 73, 108);
  font-style: italic;
}

.address { 
  padding: 10px;
  font-size: 18px;
  color: rgb(82, 78, 78);

}

.title {
  font-size: 25px;
  color: rgb(240, 49, 15);
}