.Title {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1.5em;
  margin-bottom: 2em;
  background-color: tomato;
  color: white;
  margin-bottom: 150px;
}

.sftitle {
  font-size: 100px;
  position: relative;
  left: 3%;
}

.Title-Subtitle {
  position: relative;
  top: -65px;
  left: 13%;
  font-size: 15px;
}

.home, .about {
  background-color: rgb(255, 255, 255);
  display: inline-block;
  padding: 0.3em 4em;
  color: rgb(228, 60, 30);
  font-weight: bold;
  text-decoration: none;
  font-size: 26px;
  position: relative;
  top: -10px;
  left: 10px;
  border-radius: 12px;
  border: none;
}

