.Footer {
  width: 100%;
  text-align: center;
  padding: 50px;
  font-size: 9px;
  background-color: rgb(227, 221, 221);
  position: relative;
  top: 200px;
  color: rgb(171, 166, 166);
}

.Footer > h1 {
  position: relative;
  top: 33px;
}